[2020-08-28 06:38] awalias opened #1 "create project base structure"
Use [postgrest-py](https://github.com/supabase/postgrest-py) and [supabase-js](https://github.com/supabase/supabase-js) as reference implementations

[2020-08-28 06:39] awalias opened #2 "wrap postgrest-py"
Use [postgrest-py](https://github.com/supabase/postgrest-py) and [supabase-js](https://github.com/supabase/supabase-js) as reference implementations

[2021-01-02 23:59] prettyirrelevant commented on #2
I'd love to do this. Can i go ahead with the task

[2021-01-03 03:19] lqmanh commented on #2
@prettyirrelevant Please go ahead.
I'm a bit busy with my work now but willing to review your PR or give you a hand if you need.

[2021-01-03 03:29] gmarinella9 commented on #2
tell me if you need help with something, I want to participate in this kind of projects

[2021-01-03 05:01] prettyirrelevant commented on #2
@lqmanh alright then i'll start asap.

[2021-01-04 14:09] Eshaan7 opened #3 "Write Gotrue-py (for auth)"
From the README.md,

- [ ] Write Gotrue-py (for auth) (Use [gotrue-js](https://github.com/netlify/gotrue-js) as reference implementation)

[2021-01-04 15:16] prettyirrelevant commented on #2
#4 wrapped postgres-py

[2021-01-22 08:01] J0 commented on #3
Hi,

I'm working on a copy of gotrue-py [here](https://github.com/J0/gotrue-py) I expect to have a poc by the end of the weekend(hopefully by end of today but let's see).

[2021-01-24 15:33] J0 commented on #3
yikes, will probably take another day. Got stuck trying to decipher the GoTrue endpoints based on the other client libraries.

[2021-02-15 21:51] Jacobsolawetz opened #8 "Unable to Install"
# Bug report

## Describe the bug

Syntax bug on install:

[code]

## To Reproduce

`clone` `python3 -m venv env` `source env/bin/activate` `clone` `pip install -e .` and run example code in README

[code]

## Expected behavior

A successful import and set up of client

## Screenshots

If applicable, add screenshots to help explain your problem.

## System information

## Additional context

These

[2021-02-15 21:57] Jacobsolawetz commented on #8
Fixing the syntax leads to this error `ModuleNotFoundError: No module named 'realtime_py'`. That's also the error you get if you try to install from master.

[2021-02-15 23:51] fedden commented on #8
Hi @Jacobsolawetz thanks for the issue. We are actively developing on this and hope to have the client in a basic working order within a week or so - but don't hold me to that haha!

We have a few PRs that are getting merged soon so please keep an eye on things.

[2021-02-15 23:56] Jacobsolawetz commented on #8
@fedden - epic, looking forward to it! Thank you for your work

[2021-02-16 00:12] fedden commented on #8
Hey @Jacobsolawetz I've pushed the fix to my working branch - `feature/update-to-latest-gotrue-py`.

Heads up - to use this branch there are a couple of dependancies you'd need to install manually to get things working, and we'll hopefully get things more streamlined soon after we get a few PRs merged but until then you'll need to install the following:
- https://github.com/supabase/realtime-py (n

[2021-02-16 00:19] Jacobsolawetz commented on #8
Awesome! sounds good, sounds good, I'll check it out - thanks again

[2021-03-31 09:30] pvbhanuteja opened #9 "Could not find a version that satisfies the requirement supabase (from versions: none)"
Can't install python client for superbase

A clear and concise description of what the bug is.
Could not find a version that satisfies the requirement superbase (from versions: none)

pip install supabase

[2021-04-01 10:42] pvbhanuteja commented on #9
@J0

[2021-04-01 15:34] J0 commented on #8
Hey @fedden and @Jacobsolawetz,

Thanks for your patience. The version of `realtime-py` listed is not up to date -- I have just updated it. Alternatively, as @fedden has mentioned you can install the `master` branch of the repository manually.

I'm attempting to integrate the `realtime-py` library now and will let you know once it's ready.

Thanks for your understanding on this!

Joel

[2021-04-01 18:03] fedden commented on #8
Update: I've pushed the latest gotrue to pypi - that should be working fine now, will hopefully get my branch merged to develop asap

[2021-04-01 18:44] fedden commented on #8
merged!

[2021-04-01 18:44] #2 closed

[2021-04-01 18:44] #1 closed

[2021-04-01 18:45] #3 closed

[2021-04-01 18:55] pvbhanuteja commented on #9
@awalias @J0 @fedden @awalias

Any update on this stuck for 3 days as the pip installation was failing.

[2021-04-01 19:16] fedden commented on #9
Hi @pvbhanuteja if urgent please install locally after cloning develop branch

[2021-04-01 19:17] fedden commented on #9
Will get around to a release via pypi soon

[2021-04-01 19:25] fedden opened #11 "README"
# Improve documentation

This is just a general note to say that the documentation in the README.md file is out of date - we should probably take a little bit of time just to clean/polish it up given it's the first point of reference that the users will likely get to the project

[2021-04-01 21:54] pvbhanuteja opened #12 "Update record failed AttributeError: 'RequestBuilder' object has no attribute 'eq'"
# Bug report
Tried installing locally looks there is some issue postgrest-py

When I tried updating a record it's throwing up this error

AttributeError: 'RequestBuilder' object has no attribute 'eq'

[2021-04-01 21:56] pvbhanuteja commented on #9
Hi @fedden thanks for that, there is at least some progress in building up my logic.

I got caught with another issue cant update the record opened a new issue
AttributeError: 'RequestBuilder' object has no attribute 'eq'

[2021-04-02 10:17] J0 commented on #11
Acknowledged. Thanks for setting this up!

[2021-04-05 17:58] #11 closed

[2021-04-08 07:21] taloglu commented on #12
I experience the same issue.

[2021-04-08 13:42] iwootten opened #20 "AttributeError: 'RequestBuilder' object has no attribute 'on'"
# Bug report

## Describe the bug

The Python client doesn't support realtime subscription and fails with "AttributeError: 'RequestBuilder' object has no attribute 'on'".

(Update 17/01/22: This was an example originally forming part of the README)

## To Reproduce

Using the following example from the original readme:

[code]

## Expected behavior

For each postgres db change to be printed.

## S

[2021-05-01 06:30] abreumatheus commented on #12
It can be a syntax error, since this project is not yet fully documented.

This is the correct syntax for using `eq` and other operations:
`supabase_client.from_("table_name").select("*").eq("column_name", "value").execute()`
or
`supabase_client.table("table_name").select("*").eq("column_name", "value").execute()`

[2021-05-01 06:38] abreumatheus commented on #20
Code responsible for realtime features is commented, for some reason.

[2021-05-04 15:59] smarcet opened #22 "delete execute throws error on query_builder.py _execute_monkey_patch"
running  following

  self.supabase\
            .from_("summit_attendee_roles") \
            .delete() \
            .eq("summit_id", str(summit_id)) \
            .eq("member_id", str(member_id)) \
            .eq("summit_event_id", str(summit_event_id))\
            .execute()

executes the delete successfully but throws an json parse error on
supabase_py/lib/query_builder.py ln#33

https://gi

[2021-05-17 06:43] kay-es opened #24 "Running .rpc() results in missing API key"
# Bug report

## Describe the bug

Running the .rpc() method to call a stored procedure ends up with a response containing the following message:
**No API key found in request**

Using .table() with works fine.

## Additional context
I'm not sure if this is a bug or if i miss a place passing the required api key but according to the documentation and looking into the code, there is no place where

[2021-05-17 12:58] kay-es commented on #24
Found the solution: To run a query via the httpx client successfully, we need to add an additional apikey header with the supabase key as value. You could fix that within the auth method in the PostgrestClient class.

Workaround manipulating the session headers:
[code]

[2021-05-17 12:58] #24 closed

[2021-05-19 22:02] olirice opened #26 "Enforce code consistency via pre-commit"
# Feature request

Is there any interest in hooking up [pre-commit](https://pre-commit.com/) with the usual battery hooks for python libraries e.g. [black](https://github.com/psf/black), [isort](https://pycqa.github.io/isort/), [autoflake](https://github.com/myint/autoflake), and [mypy](https://github.com/python/mypy), to enforce code consistency/standards?

If so, I'm happy to open a PR

[2021-05-22 16:27] J0 commented on #26
Yeah! I personally  think that a pre-commit hook with `isort`, `black`  `autoflake` , and `mypy` would be really helpful. We should probably add a check in CI as well

[2021-05-25 16:48] #26 closed

[2021-05-31 13:31] rphly opened #30 "'Error in $: not enough input' on .update()"
# Bug report

## To Reproduce
[code]
## Expected behavior

Update and return me the row.

## Actual behaviour

`{'data': {'message': 'Error in $: not enough input'}, 'status_code': 400}`

## System information

- Version of supabase-py: 0.0.2

[2021-05-31 16:38] rphly commented on #30
Temporary workaround is to use .insert() with upsert=True

[2021-06-07 23:24] fedden commented on #30
Yes noticing this too. Is upsert actually working or is it simply inserting a new row? From what I've noticed it's inserting new rows so would be helpful to get confirmation thats what you are seeing. Perhaps request headers/jwt is misconfigured somehow..

[2021-06-07 23:25] fedden commented on #8
Closing this, lmk if there is any issue.

[2021-06-07 23:25] #8 closed

[2021-06-08 05:45] rphly commented on #30
@fedden it updates the row when I use insert with upsert=true.

[2021-06-25 04:35] ianrtracey opened #32 "Select request aren't updating"
# Bug report

## Describe the bug

Hey Team 👋

I am experiencing a strange issue where I am getting stale results when using the `.select` SQL function.
[code]

I've changed the phone number several times but I still get back results despite certain phone numbers not existing. When I copy and paste the query into the interactive Supbase SQL console in the browser I get a different result than the

[2021-06-28 21:57] dreinon commented on #32
I don't think you can execute a SQL query directly. This is due to security reasons, mainly, to prevent SQL Injection.
You can read [JS Client docs](https://supabase.io/docs/reference/javascript/using-filters) on how to use them.

I haven't tried it but I think you might want to do the following:
[code]

[2021-07-10 21:17] weleo opened #33 "[ERROR] AttributeError: module 'typing' has no attribute '_ClassVar', supabase-py on AWS Lambda"
AWS Lambda returns the error below when importing `supabase-py`.

The error appears on runtimes: python 3.7 and 3.8.

 Possibly related to the typing module as one of its dependencies.

[Issues with typing Python-3 & AWS Lambda](https://www.fernandomc.com/posts/issues-with-typing-python-3/)

# Bug report

[code]

[2021-07-12 16:13] rphly opened #34 "Postgrest errors do not get caught, returns false positives"
# Bug report

## Describe the bug

Example error that gets returned in 'data' instead of in 'error' in response from an `.insert` operation
[code]

## To Reproduce

You can easily reproduce this with most errors like not-null constraints, missing columns.

In this case, all I did was try to insert a row with a null value in a not-null column

## Expected behavior

`error` is not None

[2021-07-26 02:04] J0 commented on #34
Hey @rphly,

Thanks for reporting the bug! Just writing to let you know that I've seen the issue -- will look into it :)

[2021-07-26 02:17] J0 opened #36 "Update Documentation"
# Improve documentation

Documentation as a whole is missing from the client library. It would be nice if we could furnish the [Sphinx Page] (https://supabase.readthedocs.io/en/develop/) with relevant documentation preferably from autodoc.

Currently this would mean documenting:
- [x] Auth
- [x] Storage
- [ ] QueryBuilder

[2021-07-27 18:42] koaning opened #37 "Inconsistent results when using `eq`"
# Bug report

## Describe the bug

I have a query that runs just as expected.

[code]

But notice what happens when I run:

[code]

Somehow I cannot query the email like I can the other columns in my table. Is `email` a protected value?

I am using `supabase-py` version `0.0.2`.

[2021-07-28 10:34] VRtheKing commented on #33
@weleo Remove a module called Dataclasses which is only supported Python versions < 3.6.
The easiest way for now is to delete the module using
[code]
I hope this works!

[2021-07-29 07:01] swapnanildutta opened #38 ""Realtime Changes" doesn't work with 'on'"
# Bug report

## Describe the bug

The "Realtime Changes" snippet on the README doesn't work. It throws an error with "AttributeError: 'RequestBuilder' object has no attribute 'on'"

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to any editor.
2. Type the code
[code]
3. Run from terminal using ```python3 <script name>.py```
4. See error

##

[2021-08-03 19:47] koaning commented on #22
I'm also getting strange errors related to the `delete()` command.

[code]

[2021-08-03 20:01] koaning commented on #22
I just ran my query again with a rich traceback. It seems that supabase sometimes returns an empty string which this library doesn't catch appropriately.

[code]

[2021-08-09 17:37] willtraweek commented on #37
I've been running into the same issue.  When I started playing around with it, it looked like the @ sign is the problem.

For example, when I set an email to `test` and execute the query with that value, then the row shows up just fine.

This may be because the email is encoded such that the `@` shows up as an `%40`.  Any advice from the supabase team here?

[2021-08-09 17:41] willtraweek commented on #37
I'm beginning to think this is because they use a `.` to differentiate between the command and the query itself.  See the URL that `.eq("email", "test@test.com")` produces:
<img width="519" alt="Screen Shot 2021-08-09 at 12 40 36 PM" src="https://user-images.githubusercontent.com/4293967/128749817-2d1e9a74-d664-4b25-b15a-e5688a3c6e74.png">

[2021-08-16 14:44] J0 opened #39 "Support update/upload in Supabase Storage"
Right now not all `.upload()` and `.update()` is not supported in Supabase Storage.  We should support this to bring the library closer to parity with the JS client.

[2021-08-23 11:09] awalias opened #42 "X-Client-Info header"
we're rolling out a header similar to Stripe's App-Data in all of the client libs so issues can be debugged more easily between the client and the backend

the javascript libs are done already: https://github.com/supabase/supabase-js/pull/238

the format is: `X-Client-Info: supabase-js/1.11.0`

for client libs that wrap others (like how supabase-js wraps gotrue-js) we allow the wrapper lib to **ov

[2021-09-11 14:16] sureshdsk opened #45 "update insert and filter docs for python"
# Improve documentation

## Link
https://supabase.io/docs/guides/client-libraries#managing-data

## Describe the problem
Python example missing for filtering and insert not updated yet.

## Describe the improvement
Add python examples for filtering and insert section.

[2021-09-11 14:17] #45 closed

[2021-09-11 14:18] sureshdsk commented on #45
created this issue in main repo.

[2021-09-12 15:47] sureshdsk commented on #20
any idea why this is disabled?

[2021-09-15 09:51] remybroun commented on #30
It would be nice to have this documented somewhere. Without this issue there is no way to know how to update a row.

[2021-09-18 06:31] TiannV opened #46 "invite_user_by_email doesn't work well"
When i use `invite_user_by_email` like this:
[code]

it returns
[code]

[2021-09-18 07:51] TiannV commented on #46
SUPABASE_KEY should set to the value of`service_role`

[2021-09-18 07:51] #46 closed

[2021-09-29 11:46] J0 opened #50 "Type Hints for Supabase-py"
It would be nice if we could get type hints on the library so that we can allow users to sanity check their code.

Thank you @dreinon for proposing this!

[2021-09-30 00:55] dkvdm opened #51 "unicode issues"
When I follow the example to retrieve data I'm greeted with the following stacktrace:

[code]

I've tried this on Python 3.7, 3.8, and 3.9 all with similar results. I've also tried different OSes (OSX, Linux), but both fail in similar fashion.

[2021-09-30 01:00] dkvdm commented on #51
Disregard, something went completely wrong with copying in the api key, which caused unicode issues.

Closing!

[2021-09-30 01:00] #51 closed

[2021-09-30 16:20] dreinon commented on #42
May this issue be closed already?

[2021-10-01 08:21] #42 closed

[2021-10-01 08:27] SwarajBaral commented on #50
Hey @J0 can I work on this ?

[2021-10-01 10:14] dreinon commented on #50
@SwarajBaral Sure 😄

[2021-10-01 10:54] SwarajBaral commented on #50
Thank you @dreinon ,I will give it a go. Just a question before I begin. Should I add type hinting to a single file and create a PR first ? Just to check if I am going on the right path or not ?

[2021-10-01 13:01] J0 commented on #50
@dreinon beat me to it and yes, go for it!

If you'd like, you can add hints to a single file and then request a review before moving on to the rest of the files.

[2021-10-01 14:01] SwarajBaral commented on #50
Thank you for the reply @J0. I am on it.

[2021-10-02 06:51] manavmodi22 commented on #36
Hey @J0 I would like to work on this issue. How can I proceed further? Also is the issue part of Hacktoberfest 2021?(just curious)

[2021-10-02 09:50] dreinon commented on #36
@manavmodi22  Yes! Any issue is part of Hacktoberfest 2021, since the whole library is participating. Feel free to go for it :smile: !

[2021-10-02 20:28] aantn opened #54 "Add support for synchronous RPC calls"
RPC calls are asynchronous as `_execute_monkey_patch` doesn't effect them. This is annoying because all the other calls in supabase-py are synchronous.

[2021-10-02 21:23] J0 commented on #54
Hey @aantn,

Thanks for the feedback! We'll make the necessary adjustments -- if anyone wishes to work on this issue it is up for grabs as part of Hacktoberfest.

-JL

[2021-10-02 21:44] aantn commented on #54
My pleasure. I have this working (as well as other Supabase-py features) using the following hack in my app's code:

[code]

Feel free to cleanup and re-use

[2021-10-03 12:26] siddhiiguptaa commented on #36
Hey @manavmodi22 I would like to know, are you working on all the pointers? If you wish and like it, maybe we could split up the task. Also would like to confirm from @darora is it possible to split up the task? 🤔

[2021-10-03 13:03] manavmodi22 commented on #36
hey @siddhiiguptaa feel free to work on the issue. I am not working on it, currently..

[2021-10-03 19:00] J0 commented on #36
Hey team,

Yup as @dreinon has mentioned feel free to go for the issue. Everything here is part of hacktoberfest. You can take a look in the docs folder to get a rough idea of how to proceed. We use Sphinx for documentation.

[2021-10-04 12:58] bariqhibat commented on #38
Hey @swapnanildutta, if I look into the code myself, it is foreseeable that the example would throw this error.

Since the `supabase.table('countries')` would create a new class of SupabaseQueryBuilder, which is a child class of PostgrestClient from postgrest-py repo, and calls the method `from_` upon declaring a new instance of that class. But, by executing `from_` method from the PostgrestClient

[2021-10-04 14:14] bariqhibat commented on #38
Duplicate https://github.com/supabase-community/supabase-py/issues/20

[2021-10-06 02:06] #37 closed

[2021-10-06 03:41] dreinon commented on #32
@ianrtracey did I solved your doubts??

[2021-10-09 23:53] J0 opened #57 "Current upload does not support inclusion of mime-type"
Our current upload/update methods do not include the mime-type. As such, when we upload photos to storage and download them again they don't render properly.

The current fix was proposed by John on the discord channel. We should integrate it in so that Users can download/use photos.

[code]

[2021-10-10 15:56] titogarrido opened #58 "Row Level Security and Python"
Hi Folks!

I am calling a python API from  Vue app where an user is logged in using supabase. This Python API was created using FastAPI and I have shared the same JWT secret and algorithm so I can ensure who is calling the API. The problem is when I try to execute an insert using supabase client + anon key I am receiving a RLS error, seems that it can't identify who is calling the insert from the

[2021-10-12 17:12] anand2312 commented on #50
I can help with this as well; @SwarajBaral wanna split work? 😄

[2021-10-13 01:48] julianolf commented on #57
Hi there.

I am looking for some projects to contribute during this year's Hacktoberfest and I stumbled upon this one.

Supabase is a very cool initiative and I'm willing to help. :)

I would like to know if this issue is still available/open to assignment. The description above mentioned someone, John, is he already working on it?

[2021-10-13 04:38] J0 commented on #57
Nope, not to my knowledge. Feel free to file a PR

[2021-10-14 05:28] J0 opened #62 "Tutorial request: Streamlit"
There have been multiple requests for a streamlit tutorial. For this task, we're looking for a tutorial or blogpost which showcases the use of `supabase` with Streamlit.

There are no restrictions on the type of tutorial and any number of people can take this issue up. This issue is open for creative exploration but feel free to tag/ping me if ideas are needed.

[2021-10-14 05:29] J0 opened #63 "Tutorial Request: FastAPI"
There have been multiple requests for a FastAPI tutorial. For this task, we're looking for a tutorial or blogpost which showcases the use of `supabase` with FastAPI.

There are no restrictions on the type of tutorial and any number of people can take this issue up. This issue is open for creative exploration but feel free to tag/ping me if ideas are needed.

[2021-10-14 05:37] leynier commented on #63
Currently, I use subapase (specifically gotrue) with FastAPI, what I do is use supabase for authentication from the client, the client when making requests to an API in FastAPI sends the access_token, and from the FastAPI API, it verifies that this access_token be valid using supabase.

That is why I am currently quite focused on improving the gotrue package 😅

[2021-10-14 15:49] J0 commented on #63
@leynier,

That's pretty cool! If you have an example somewhere we'd love to include it in this repo.

@robertsiipola I'll set up an examples folder right now -- feel free to include any examples there.

[2021-10-15 02:44] julianolf opened #65 "Cannot create a bucket using the storage client"
**Describe the bug**
The method from the storage client responsible for creating new buckets is not working properly, it just prints a generic HTTP error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a client instance.
2. Retrieve the storage client.
3. Execute the `create_bucket` method.
[code]

**Expected behavior**
The bucket is not created and the following message is p

[2021-10-15 18:55] andrashann commented on #63
@leynier This setup with a FastAPI backend is exactly what I would need to get started with my supabase project; I'd be really happy if you could share your code or a write-up. Coincidentally, I think that tutorial would help close #58 as well.

[2021-10-16 15:37] XbIK commented on #39
"upsert" property is hardcoded. Also it would be helpful if the contentType could also be changed

`    DEFAULT_FILE_OPTIONS = {
        "cacheControl": "3600",
        "contentType": "text/plain;charset=UTF-8",
        "upsert": "True",
    }`

[2021-10-17 00:59] karolzlot opened #69 "Which version is most up-to-date?"
**Describe the bug**
pip by default install now version 0.1.2. But newest version is 0.0.3.

https://pypi.org/project/supabase/#history

![image](https://user-images.githubusercontent.com/11590960/137605958-d7856785-71b6-43cf-9587-b084134d4b5e.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  `pip install supabase`

**Expected behavior**
It should install latest version

**Screenshots**

[2021-10-17 02:25] karolzlot opened #70 "Use provided `JWT` to make supabase client object logged with this `JWT`"
**Is your feature request related to a problem? Please describe.**

I would like to have this feature:  `supabase.auth.setAuth(jwt);`

https://github.com/supabase/supabase/discussions/1094#discussioncomment-714633

Currently I think I can just use JWT in `create_client(url, key)` and effect will be the same? (I'm not sure)

**Describe the solution you'd like**
above

**Describe alternatives you've

[2021-10-17 02:27] karolzlot commented on #58
related: https://github.com/supabase-community/supabase-py/issues/70

[2021-10-17 02:33] leynier commented on #70
I'm currently working on a PR to add dataclasses to the responses and synchronize the functionalities between gotrue-py and gotrue-js, that functionality that you mention is already in gotrue-js so I will add it to gotrue-py in the PR.

https://github.com/supabase-community/gotrue-py/pull/23

[2021-10-17 02:36] leynier commented on #70
When I say, **"currently"**, it is literal 😅. Here you have a preview

[code]

[2021-10-17 03:01] leynier commented on #70
If I'm not mistaken (because I'm familiar with `gotrue`, but not much with the other libraries) they don't do the same.

By the way, what you want to make in the 1st option is currently possible. Although I do not know if a new release has been published with that change.

[code]

https://github.com/supabase-community/gotrue-py/blob/9ba3192dbdccd2f02a4819b52dd6cf51095af7e7/gotrue/client.py#L162

[2021-10-21 08:58] aantn opened #71 "Security Issue: Supabase-Py pulls in a vulnerable version of websockets library"
Supabase-Py's dependencies pull in a version of the websockets library vulnerable to https://github.com/advisories/GHSA-8ch4-58qp-g3mp

I don't know if Supabase-Py itself is actually vulnerable in any way, but this is a headache for anyone using Supabase-Py because we can't update our own version of the websockets library to a non-vulnerable version.

Here is example output from Poetry's dependenc

[2021-10-21 09:02] aantn commented on #50
This is just a recommendation, but Pydantic supports autogenerating Python models from OpenAPI specs: https://pydantic-docs.helpmanual.io/datamodel_code_generator/

Might help with this.

[2021-10-21 09:03] aantn commented on #50
On second thought, I think I'm misinterpreting this issue :)

The pydantic code generation is useful if you want to add type hints for the user's tables in Supabase, not to add typehints to the Supabase codebase itself.

[2021-10-21 21:04] J0 commented on #69
Have deleted all outdated versions, should default to 0.0.3 now

[2021-10-22 01:38] dreinon commented on #69
Awesome, issue solved then :)

[2021-10-22 11:11] kebsont opened #72 "Can't upload anything to bucket"
I read the doc and after connected, I can't upload anything in the storage bucket.
[code]
It doesn't work and don't print any error.

[2021-10-22 15:03] #69 closed, assigned to nobody

[2021-10-30 16:04] julianolf commented on #57
It should indeed. But I believe that only the author or someone with admin privileges are able to close it.

Maybe @J0 can.

[2021-10-30 20:17] #39 closed

[2021-10-30 20:17] J0 commented on #39
Yup, closed

[2021-10-30 20:26] J0 commented on #9
Hey @pvbhanuteja,

@dreinon and I have just tested and we should now be able to install with `pip install supabase` we are closing this issue now but let us know if you face any further problems.

[2021-10-30 20:26] #9 closed

[2021-10-30 20:35] J0 commented on #12
Hey @pvbhanuteja,

Thanks for reporting this issue! We tried it and it seems like
`supabase_client.table("table_name").select("*").eq("column_name", "value").execute()`
is functioning. We'll be closing this for now but let us know if you run into any further issues.

![image](https://user-images.githubusercontent.com/8011761/139557604-a3a05810-6835-44d6-a988-f2736489e1bd.png)

[2021-10-30 20:35] #12 closed

[2021-10-30 21:10] #22 closed

[2021-10-30 21:16] J0 commented on #30
Hey @remybroun @rphly,

We have tested this issue and it seems to work fine now.  We are closing this for now but please feel free to let us know if you're still facing any issues.
![image](https://user-images.githubusercontent.com/8011761/139558552-488da81c-743a-4664-b9ab-b5dd485b0ec7.png)

Thanks!

[2021-10-30 21:16] #30 closed

[2021-10-30 21:17] J0 commented on #33
@weleo we are closing this due to inactivity, please let us know if you're still facing any issues.

Thanks!

[2021-10-30 21:17] #33 closed

[2021-10-30 21:18] J0 commented on #32
Hey @ianrtracey,

We are closing this due to inactivity, please let us know if you're still facing any issues!

Thanks!

[2021-10-30 21:18] #32 closed

[2021-10-30 21:26] J0 commented on #50
@aantn , go for it! It would be great if you could post a link here once you're done so that we can link to it

@dreinon  Don't think we have docs yet :( There is an examples page but it is still WIP We can definitely link to tutorials once we have a docs page though

[2021-10-30 21:28] J0 commented on #57
Yup @julianolf,

We are closing for now but feel free to let us know if you still face any further issues.

Thanks!

[2021-10-30 21:28] #57 closed

[2021-10-30 21:31] J0 commented on #72
Hey,

Seems like this issue should be resolved so we'll be closing for now but feel free to let us know if you run into any issues.

Thanks!

[2021-10-30 21:31] #72 closed

[2021-10-31 12:21] XbIK commented on #72
Hi,
are there any examples of uploading the existing file, as after all the changes and **upsert=True**, I still cannot overwrite existing file without deleting it
`duplicate key value violates unique constraint \\"bucketid_objname\\""`

[2021-10-31 12:23] colodenn opened #78 "Uploaded images are always 1.37 MB big and can't be opened"
`supabase.storage().StorageFileAPI(id_='watermarked').upload(f'{_id}/{username}-{imageid}', os.path.dirname(os.path.abspath("__file__")) + "/embedded.jpg", {'Content-type':"image/jpg"})`

The file I'm trying to upload has a size of ~530KB.
But on supabase it shows 1.37MB and can't be opened.

[2021-10-31 14:43] kebsont commented on #72
How is this issue resolved @J0  ? Because I have the same error. And you provided any info of how it is resolved.
I'm using this in Django Rest Framework, and upload files in supabase storage.

[2021-10-31 20:10] dreinon commented on #72
@XbIK sorry, I though I had fixed it already. I just opened a PR with the fix. The reason is that the actual required header to upsert is `x-upsert` and the boolean should be all lowercase since it will be converted to a JSON string and we use strings instead of regular python `True` or `False`.

So, if you want to upsert, just pass a header like the following:
[code]
And it should work even witho

[2021-10-31 20:38] dreinon commented on #72
Hi @kebsont! Thanks for submitting the issue.

Have you double-checked you can

[2021-10-31 20:48] dreinon commented on #72
Hi @kebsont! Thanks for submitting the issue.

Have you double-checked you can open `my_file` using python's `open` method, just in case the path is wrong?

Also, I don't think you are using the client well. Try this out:
[code]

For instance, if you want to upload `my_file` to bucket `sample_bucket` insider folder `sample_folder`, then you should write the following:
[code]

[2021-11-01 00:23] kebsont commented on #72
Thanks @dreinon.
I've tried it but got error 400. Looking in the docs to find what's the cause .

[2021-11-01 00:38] kebsont commented on #72
Thanks so much @dreinon . It works well.

But the implementation is weird for me. I wasn't adding the file.jpg in the path parameter because of the file argument.

[2021-11-01 00:48] dreinon commented on #72
You're welcome!
We will be trying to imitate JavaScript Client's implementation as much as possible soon, hope that works better for you.

The library is very young indeed, so little by little 😊

Thank you again!

[2021-11-01 06:47] Krish-Nerkar commented on #30
I am still facing the same issue :(

`res = supabase.table("Servers").update({
                    "Server_ID" : previous_data['data'][0]['Server_ID'],
                    "Server_Name" : previous_data['data'][0]['Server_Name'],
                    "Channel_ID" : previous_data['data'][0]['Channel_ID'],
                    "Categories" : previous_data['data'][0]['Categories'],
                    "

[2021-11-01 08:27] XbIK commented on #72
thanks! now upload works. Have some issue with **"Created at"** and **"Last modified at**" fields- they did not change when files is replaced by uploading

[2021-11-01 23:07] SSardorf opened #80 "auth.signin without password always gives status code 200"
**Describe the bug**
Given the following code:
[code]
If the else statement gets triggered(Sign in without a password), it sends a magic link to the user which allows them to sign up (I like this feature). However, it then returns a status code of 200. In the given case, how would you tell apart sign-ups from sign-ins?

**Expected behavior**
Some sort of distinction between sign-in and sign-up in

[2021-11-01 23:13] SSardorf commented on #80
I suppose one way of checking whether the user is logged in versus signed up, is to check whether the returned dictionary contains more than just status_code. But would be nice to get more information than just `{"status_code":200}`

[2021-11-07 06:42] Prashant4900 commented on #72
Is it work for you? I also want supabase storage as a Django default storage media.
can you share the whole code snippet of how it goes?

[2021-11-07 07:03] kebsont commented on #72
I don’t implement it yet. I was testing it with a script

On Sun, 7 Nov 2021 at 06:43, Prashant Nigam ***@***.***>
wrote:

[2021-11-07 07:15] Prashant4900 commented on #72
so can you share the scripts if you don't mind I need to implement it's on my Django projects but there are no official docs there or articles over the internet so we can help there?

[2021-11-08 10:05] kebsont commented on #72
The script is just the first message in this issue. I'm trying to implement it on Django too.I start today.

[2021-11-15 12:50] dreinon commented on #50
@leynier @anand2312 feel free to take this issue and split the work if you want since we got no response from @SwarajBaral yet.

[2021-11-15 13:10] dreinon opened #82 "Unify HTTP Client to be httpx"
As mentioned in [this conversation](https://github.com/supabase-community/gotrue-py/pull/23/files#r744137183), `requests` module should be switched to unify `httpx` module as the HTTP Client for all Supabase Python libs.
@leynier Could you do this?

[2021-11-15 14:46] leynier commented on #82
Ok, I will do it 👍🏼

[2021-11-16 09:24] Phillackinger commented on #78
Hi @colodenn, I have the same issue, but spotted a potential problem in your code:

[In the docs](https://supabase.io/docs/reference/javascript/storage-from-upload) they specify the `Content-type` key as `contentType`.

[2021-11-16 09:33] Phillackinger commented on #78
When I want to Upload an Image to a Supabase Bucket the MIME-Type is always: `application/x-www-form-urlencoded`

![grafik](https://user-images.githubusercontent.com/40075339/141958633-623d76aa-ca25-433f-8f05-0f4538fd707d.png)

My Code for the file upload looks like this

[code]
The Upload always returns a HTTP-Status Code 200 but the files are all broken when I download them. In XML files the `<`

[2021-11-17 02:01] #82 closed

[2021-11-18 10:07] #70 closed

[2021-11-19 14:11] dreinon commented on #30
Make sure to update your supabase version to the latest and tell us if you still face the issue please 😊

[2021-11-23 07:27] alif-arrizqy opened #87 "Add filter or modifier"
hello, can i use .order() like query done in Javascript ?

[2021-11-23 08:06] KristofferE opened #88 "Delete from database, fails in response"
**Describe the bug**
In query_builder.py at line 33 in return, response.json() fails with JSONDecodeError when api returns response.content as empty.

**To Reproduce**
Steps to reproduce the behavior:
Delete object from supabase database:
[code]
Object is successfully deleted, but response message is not able to convert to json at throws exception.

**Expected behavior**
Deletion of object, and a

[2021-11-23 17:53] anand2312 commented on #87
Yes you can.

Modifier example:
[code]

Modifier along with a filter:
[code]
[Source for modifiers](https://github.com/supabase-community/postgrest-py/blob/f019aaaafeb9a899052cd406f1900c9c0b8611ac/postgrest_py/_sync/request_builder.py#L182)

[2021-11-24 01:30] alif-arrizqy commented on #87
Hi thank you for response,

my supabase-py code;
data = client.table("table_name").select("*").order("mycolumn", desc=False).execute()

i was running my code, but i got error;
raise RuntimeError(RuntimeError: QueryParams are immutable since 0.18.0. Use `q = q.set(key, value)` to create an updated copy.

can you help me for this problem ?

[2021-11-24 05:59] anand2312 commented on #87
That looks like it's a bug with [postgrest-py](https://github.com/supabase-community/postgrest-py). I'll try resolving the issue there as soon as I can.

[2021-11-24 08:56] alif-arrizqy commented on #87
okay, thank you my friend

[2021-11-29 04:33] w3b6x9 opened #89 "Send Valid User Access Token to Realtime Server"
# Feature request

Realtime server is now checking every minute to verify the validity of the user access token and storing updated user information from the JWT to Realtime's `subscription` table (used by Realtime WALRUS).

## Describe the solution you'd like

1. Realtime client pushes the user access token to all channels every heartbeat, which defaults to 30 seconds (see [ref](https://github.co

[2021-12-01 19:11] margo0ka opened #90 "incorrect output from eq when characters certain characters used as input"
[related issue](https://github.com/supabase-community/supabase-py/issues/37)

## **Describe the bug**
When you try to select rows where col1 = a.b it will look for "a.b" in the table (with quotes) and not a.b (without quotes) when you are using the eq function.

I have the table `test`
[code]
the command
[code]
will get you
`{'data': [{'id': 2, 'col1': '"a.b"', 'col2': 'banana'}], 'status_code': 2

[2021-12-01 20:15] leynier commented on #90
@margo0ka please, install `supabase` instead of `supabase-py` and test it. Thanks in advance.

[2021-12-01 20:22] margo0ka commented on #90
@leynier ah sorry I think I should have said `supabase` instead of `supabase-py`. I have whatever `pip3 install supabase` gives you.

[2021-12-02 01:04] margo0ka commented on #90
Excuse the ugly screenshot but I just tried it with javascript and it's a different result from using it on python. So the javascript one works as I would expect.

![image](https://user-images.githubusercontent.com/94395604/144338798-164b763c-1d40-4cca-b68b-e853a16efa37.png)

[2021-12-02 02:03] leynier commented on #90
@margo0ka thanks for the report, I will check and try to solve the bug. Likewise, if you want to collaborate and try to solve it, it would be super good.

[2021-12-06 02:00] kk21 commented on #78
In storage_file_api.py > upload()
[code]

I think the default file options shld be "switched":
[code]

[2021-12-06 05:57] leynier commented on #78
`pip install git+https://github.com/supabase-community/supabase-py.git@develop`

[2021-12-06 07:04] kk21 commented on #78
Thanks @leynier . The upload now works.

However the header "cacheControl" cant be set and is always saved as "no-cache" in supabase storage.objects instead of "max-age=NumberSeconds".

[2021-12-07 14:30] Phillackinger commented on #78
Thanks @leynier @kk21!
It works for me as well now with the newest dev-version of the library.

[2021-12-08 18:47] joeriddles commented on #50
Many modules and functions in this code base look to already be using type hints (typed).

Here are the functions I see that are not typed (so far):

- [ ] `client.py`
  - [ ] `DEFAULT_OPTIONS`
  - [ ] `def storage...`
    - [ ] does not have an explicit return type.
  - [ ] `def table...`
    - [ ] does not have an explicit return type.
  - [ ] `def from_`
    - [ ] does not have an explicit retu

[2021-12-08 19:07] joeriddles commented on #50
I've been manually looking at files for missing type hints. Trying to use `mypy` to do this automatically. Here are my results so far:

[code]

[2021-12-09 01:23] aicushman opened #93 "The "contains" query filter passes verbatim string "values" to Supabase in place of actual values."
**Describe the bug**
The "contains" filter appears to incorrectly pass the verbatim string "values" to Supabase, in place of the intended query values.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Supabase client connected to a schema with table "table_name" having the JSONB column "column_name".
2. Invoke the "contains" filter with `supabase.table('table_name').select('*').cs('c

[2021-12-09 18:28] anand2312 commented on #50
@joeriddles Thanks for compiling this list! Helps a lot 😄

[2021-12-10 20:09] leynier commented on #93
I think that this bug is from [postgrest-py](https://github.com/supabase-community/postgrest-py) and it was resolved at this https://github.com/supabase-community/postgrest-py/pull/37, only the dependency needs to be updated, which will be done soon. Greetings.

[2021-12-10 20:18] leynier commented on #88
Sorry for the delay in responding, you could test that with the latest commit in develop.

[2021-12-11 16:32] Garberchov opened #95 "Supabase is recognizing API request but not completing insert action"
Hi, I am trying to use the API to insert/manipulate data in supabase but while API requests are being recognized no action is being taken? Does anybody know why this would be? Any help appreciated
Code:
[code]

[2021-12-12 12:06] aantn commented on #88
This seems similar to https://github.com/supabase-community/supabase-py/pull/75/files

Are there plans to do a supabase_py release anytime soon? The above PR was fixed some time ago, but still hasn't been released.

[2021-12-16 09:22] alif-arrizqy opened #98 "How to update table"
how to query to update data table using this library?

[2021-12-16 18:15] joeriddles opened #99 "Add `MAINTAINERS.md`"
**Is your feature request related to a problem? Please describe.**
It is unclear to me who maintains this project and who is a required reviewer on pull requests.

**Describe the solution you'd like**
I would like a `MAINTAINERS.md` file at the root of the repository that lists the project maintainers. In either this file or in `CONTRIBUTING.md`, I would like additional information to understand t

[2021-12-17 00:34] #50 closed

[2021-12-17 10:28] dreinon commented on #99
Okay

[2021-12-17 16:15] J0 commented on #99
Sounds good to me

[2021-12-17 22:38] #95 closed

[2021-12-20 14:39] iwootten commented on #20
I've just hit this issue again, 9 months later when starting a new project. It's confusing that this example is in the documentation when it .

[2021-12-22 00:24] athenaleong commented on #22
Was wondering if there is any update to this issue?

.delete() works but it throws an error along with it.

[code]

I am current using try except to get around it

[code]

[2021-12-22 00:31] dreinon opened #102 "Replace makefile for poetry scripts"
This would be more integrated with the poetry ecosystem as well as it would enhance compatibility w windows

[2021-12-22 00:33] dreinon commented on #99
@J0 codeowners is replaced by the maintainers.md?

[2021-12-22 17:41] #54 closed

[2021-12-23 03:15] rphly commented on #93
Bumping this :)

[2021-12-23 23:18] w3b6x9 commented on #89
There's a recent `realtime-js` fix that will update the `user_token` used for channel (subscription) reconnection: https://github.com/supabase/realtime-js/pull/126

[2021-12-24 15:13] josiahsrc opened #105 "Add support for upsert"
**Is your feature request related to a problem? Please describe.**
A lot of the time I need to either insert data or update existing data (depending on if it's created or not).

**Describe the solution you'd like**
Add `upsert` functionality.

**Describe alternatives you've considered**
A query followed by an insert or update.

[code]

**Additional context**
Taken from the [supabase docs](https://

[2021-12-24 20:41] bitkarrot commented on #22
They fixed the issue, its on the develop branch. I just installed from there:

git+git://github.com/bitkarrot/supabase-py.git@develop#egg=supabase

[2021-12-25 18:34] #105 closed

[2021-12-26 22:18] LumixximuL opened #106 "BUG | default schema not being applied in CI"
**Describe the bug**
I am attempting to query a table in DB and getting an error in GitHub Actions that I am not getting running locally.

Query being attempted:
[code]

I get the error:
[code]

Screen shot of error stack trace:
<img width="986" alt="Screen Shot 2021-12-26 at 4 10 41 PM" src="https://user-images.githubusercontent.com/6784596/147421165-b3ab24a6-f740-41fb-b49c-df65a9cad820.png">

I'

[2021-12-29 00:11] w3b6x9 opened #107 "Realtime RLS Broadcasts Errors"
Realtime RLS will be broadcasting database changes with `errors` so that clients can capture what went wrong when listening to database changes.

Please see here for the current error states: https://github.com/supabase/walrus/tree/generic_claims#error-states.

Realtime RLS will broadcast `errors` as either `null` (no errors) or an array of strings (at least one error present).

Here are two examp

[2021-12-30 22:07] songololo commented on #88
Another running into this issue.

[2021-12-30 22:22] dreinon commented on #88
A release is coming asap, before new year's eve 😄

[2022-01-04 05:15] J0 commented on #99
I think we can do without the codeowners file. Let me know if anyone feels that we need one though -- closing this issue for now.

[2022-01-04 05:15] #99 closed

[2022-01-04 05:18] J0 commented on #88
@dreinon @songololo @leynier  @aantn closing since it should be fixed with the latest release.

Let me know if anyone still has issues.

Thanks!

[2022-01-04 05:18] #88 closed

[2022-01-06 03:20] alif-arrizqy commented on #98
sb.table("config_inverter_voltronic_duplicate").update({
        "max_charge_current": "182",
        "max_discharge_current": "091",
        "mode_load": "SBU",
        "max_utility_charge_current": "29",
}).eq("id", "2").execute()

[2022-01-06 03:20] #98 closed

[2022-01-06 15:31] songololo opened #115 "Please provide more info on return types from execute"
The return types from execute currently require trial and error to unpack. Would it be possible to add more information in the README.md explaining what the potential return types are and what they mean?

e.g. the returned value seems to have changed from a prior version of `postgrest-py`: it now returns a tuple of data and a `None` value. But it isn't clear what this `None` value represents and h

[2022-01-06 15:36] dreinon commented on #115
Hi! Thanks for reporting. We have an [open PR](https://github.com/supabase-community/postgrest-py/pull/64) to solve this, which only needs a few tests to be written

[2022-01-06 15:37] dreinon commented on #115
Btw, that None value is intended to be the `count` value if you ask for it in the query.

[2022-01-07 03:20] dannmate commented on #115
I am finding the return types are different also from selecting data, to inserting/updating, looking forward to the PR :)

[2022-01-09 06:36] iceanfire opened #117 ""Order" modifier doesn't seem to work"
# Bug report

## Describe the bug
When I set an "order" modifier via the python api, results are not ordered as requested. When I then look at the logs, the order request doesn't seem to have been sent to the server.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:
1. Add "order" modifier to your query  (example: data = supabase.table("brokerData").s

[2022-01-11 06:35] alif-arrizqy commented on #117
1. if you using virtualenv, please go to directory request_builder.py ({name_folder_venv}/Lib/site-packages/postgrest_py/request_builder.py)
2. you can find order function
3. replace with this:
[code]
4. then, try it again.
-----------------------------
example for query:
[code]
if you have error again, you can see [postgrest-py documentation](https://github.com/supabase-community/postgrest-py)

[2022-01-11 06:53] alif-arrizqy commented on #117
or maybe you can update you supabase package to new version

[2022-01-11 07:57] alif-arrizqy opened #119 "bug: no module named `realtime.connection; realtime` is not a package"
I have an error like this when using this package.
ModuleNotFoundError: No module named 'realtime.connection'; 'realtime' is not a package

anyone can help me

[2022-01-11 08:23] iceanfire commented on #117
Hey, I'm on version 0.2.0 and as far as I can see that *is* the latest version? Or am I missing something, thank you!

Since I'm using replit, I'm not sure I have access to the file you're referencing, will have to try to figure that out :(

[2022-01-11 08:32] iceanfire commented on #117
Ah I think I see what you mean, there's a new built for postgrest-py in github, but it hasn't shown up yet as in the python package index, I'm assuming it'll be updated soon at which point Replit will also update to the right version.

[2022-01-13 23:13] leynier commented on #119
Hi @alif-arrizqy, can you show us an example code snippet that raises this error.

[2022-01-17 06:31] J0 commented on #20
Hey @iwootten,

Thanks for bumping this! We're sorry that you had to face the error twice in a row D: We'll remove the example from the documentation.

Thanks!
Joel

[2022-01-17 15:07] iwootten commented on #20
Actually, I'll update the description given this is still an issue.

[2022-01-18 02:31] alif-arrizqy commented on #119
Hi @leynier
previously I wasn't using the 0.2.0 version (I forgot the supabase version) and it still worked.
but when I install/upgrade to version 0.2.0, then this error appears.

I tried to create a new folder and install the latest version of supabase (v0.2.0) and it worked. I think there is a conflict between the old and new files

here the code:
[code]

here the error:
![image](https://user-im

[2022-01-18 02:35] alif-arrizqy opened #127 "how to use .range() using supabase-py"
please tell me how to use .range() using supabase-py

[2022-01-18 03:27] #127 closed

[2022-01-18 03:53] J0 commented on #20
Gotcha. Thanks!

[2022-01-22 00:42] leynier opened #131 "chore: unnecessary `requests` dependency"

[2022-01-22 07:22] iceanfire commented on #117
Hey this is really annoying -- i'm wondering how others are getting around it. I don't think Supabase really supports ordering.

I'm using the latest version of the Supabase client -- 0.3.1 and also the latest version of Postgrest-py -- 0.8.0 and still running into this issue.

[2022-01-22 07:23] iceanfire commented on #117
@alif-arrizqy  going to tag you incase you have any other tips 🙏🏽

[2022-01-22 07:39] alif-arrizqy commented on #117
hi @iceanfire
can you show the error ?

[2022-01-22 07:40] alif-arrizqy commented on #117
have you tried installing the latest version of supabase-py ?
what if you create a new project and install the latest version of course this will speed up your work.

[2022-01-22 07:53] leynier commented on #117
Hi people, I found the error

[2022-01-22 07:55] alif-arrizqy commented on #117
if you have install a new version, you can see [my gist](https://gist.github.com/alif-arrizqy/b91bfd3cd4155dd16b37b0fbba976b9f)
😊

[2022-01-22 07:56] leynier commented on #117
The code should be:

[code]

[2022-01-22 07:56] leynier commented on #117
@alif-arrizqy @iceanfire thanks, I will fix and publish a new version

[2022-01-22 07:57] alif-arrizqy commented on #117
yes @leynier thats the error, thank you for fixing

[2022-01-22 08:01] leynier commented on #117
I think that be useful a param for setting debug mode in `postgrest-py` to see the structure of the request at the end. I think that with that feature, bug fixing will be easier.

[2022-01-22 08:02] leynier commented on #117
@supabase-community/python-maintainers

[2022-01-22 08:25] #131 closed

[2022-02-03 08:43] nikeshnaik opened #139 "Update README with the new API"
**Describe the bug**
In the ReadMe.md file, the examples shown for inserting data, selecting data from the `countries` table returns `class` object, an assertion on that object to get `data` is throwing error.  Is doc outdated?

**To Reproduce**
Steps to reproduce the behaviour:
Run the examples shown in ReadMe.md

`    assert len(data.get("data", [])) > 0
AttributeError: 'APIResponse' object has

[2022-02-04 05:02] XbIK opened #141 "csv upload"
when uploading csv-file to bucket, this heading appears inside text

[code]

[2022-02-04 09:18] dreinon commented on #141
Hi! Try upgrading your supabase version, this issue should be solved

[2022-02-04 12:10] XbIK commented on #141
nope ,does not help. New version contains this version of upload function?

[code]

[2022-02-04 16:44] dreinon commented on #139
Yet to be updated! Forgot to update it, sorry

[2022-02-04 16:47] dreinon commented on #141
Thanks! Yeah that's the new version. Can you provide the code you are using to upload the file? The problem might be in that you aren't specifying the content-type header to be `text/csv`

[2022-02-04 16:49] dreinon commented on #115
Hi! This issue should be solved with the new version of postgrest-py and supabase-py, we use a pydantic model now to represent a Response, which has two properties, data and count, and you'll get an APIError raised if the call returns an error 🙂.

Thanks!

[2022-02-04 16:50] #115 closed

[2022-02-04 16:51] dreinon commented on #93
Hi! This should be solved by now, so I'm closing this issue. Nevertheless, feel free to reopen it or comment again here if you have any more concerns. Thanks! 🙂

[2022-02-04 16:51] #93 closed

[2022-02-04 16:53] dreinon commented on #34
Hi! This has been solved in the new version of postgrest-py! Now an APIError gets raised in this case.

Thanks for the report! Closing this issue now, but feel free to reopen it or comment here again if you have any other concerns 🙂

[2022-02-05 04:54] XbIK commented on #141
function runs on Azure, csv is saved to tmp file from pandas dataframe, then uploaded to Supabase

[code]

[2022-02-05 08:29] dreinon commented on #141
It's because of the upper case, we have to solve that. Use 'content-type' and let me know!

[2022-02-05 09:07] XbIK commented on #141
change to lower case, still the same

[code]

[2022-02-13 17:22] alexmercerind commented on #90
Hey guys!
Thanks for the work on this library, I recently faced this issue aswell & started a discussion thinking I was doing something wrong.

https://github.com/supabase-community/supabase-py/discussions/145#discussioncomment-2168399. I thought I should leave a link here just in case it helps reaching to a solution to this problem.

Thanks again.

[2022-02-16 22:07] dreinon commented on #141
Awesome, thanks! We have to work in the storage client in order to make it easier to use, but still WIP.

Closing the issue, feel free to open another issue if you have any other concerns! @XbIK

[2022-02-16 22:07] #141 closed

[2022-02-16 22:23] cloudguruab commented on #63
@J0 Submitted a PR #148 for this Issue

[2022-02-25 00:28] #139 closed

[2022-02-25 06:42] J0 opened #160 "Tutorial to connect Supabase to Streamlit"
**Is your feature request related to a problem? Please describe.**
Tutorial instructions on how to use Streamlit with Supabase as a data source

**Describe the solution you'd like**
A PR or guide against https://github.com/streamlit/docs/blob/main/content/kb/tutorials/databases/index.md describing how to
link supabase with streamlit. Should be similar to the Postgres example

**Describe alternativ

[2022-03-03 02:58] kambanthemaker opened #161 "Filtering row that contains dot fails"
**Describe the bug**
data = supabase.table('Company').select('field1').eq('domain',"mycompany.com").execute()
returns no data, while querying the subabase console works fine.

data = supabase.table('Company').select('field1').like("%mycompany%").execute()

works.

**To Reproduce**
Create a table with a column that contains a value with a dot.

**Expected behavior**
Query should return data when fi

[2022-03-03 17:35] mohnish7 opened #162 "How do I add multiple filters to my query?"
Hello,

I am trying to query a table by adding multiple filters in the following manner:

`supabase_client.table("table").select("*").eq('col1', value1).lte('col2', value2).lte('col3', value3).execute()['data']`

I do not get any data returned despite there being data available that passes all the conditions. If I just use one filter, then data is returned perfectly fine

[2022-03-17 20:24] dj-fiorex opened #171 "How do i insert multiple rows with only one write?"
**Describe the bug**
Hello, i need to know if there is a way to insert multiple rows with a single write. It'ss a feature that i think is a must to work with an hosted version of supabase and to lower costs of writing to db.

Right now supabase client insert
`supabase.table("table_name").insert(data).execute()`
support only a dict and not a list[dict]

I'm a developer so i could do something if so

[2022-03-21 13:45] mohnish7 commented on #30
Hello @dreinon - I am running into the same issue again despite having the latest supabase version

[2022-03-26 18:07] raselldev opened #175 "How to get string value from column table?"
Hi, i have script like this:

[code]

how to get string data from this script?

[2022-03-31 03:57] anand2312 commented on #171
I believe insert_many has not yet been implemented on [`postgrest_py`](https://github.com/supabase-community/postgrest-py) ; I think we can get that in the next release 😄

[2022-04-04 03:01] ConnorVO opened #181 "Can't filter urls. The ".com" causes the filter to not work"
**Describe the bug**
If you try to filter URLs, it always returns empty data

**To Reproduce**
Steps to reproduce the behavior:
1. Create table with URL column
2. Run `supabase.<tablename>.select("*").eq("url", url).execute()`

**Expected behavior**
It should properly return the rows.

**Additional context**
If you remove the ".com" it works perfectly.

[2022-04-04 06:30] anand2312 commented on #181
Duplicate of #161 ; I'll try looking into this over this weekend 😄

[2022-04-07 13:16] #181 closed

[2022-04-07 14:24] anand2312 commented on #161
This has been fixed on postgrest-py master branch, we'll be updating versions some time in the future. If you need the update right now, you can install the master branch directly as well (`pip install git+https://github.com/supabase-community/postgrest-py.git`)

[2022-04-07 14:37] anand2312 commented on #90
This has been fixed in [postgrest-py#108](https://github.com/supabase-community/postgrest-py/pull/108). Thanks for the report!

[2022-04-07 14:37] #90 closed

[2022-04-09 21:06] J0 commented on #160
Merged into stream lit docs

[2022-04-09 21:06] #160 closed

[2022-04-10 16:16] juwiragiye commented on #63
I saw someone's PR and it was merged for this issue. Can I still do it?

[2022-04-10 16:35] karolzlot commented on #63
@juwiragiye I think you can, the current tutorial is fairly simple and can certainly be improved and extended.

[2022-04-11 08:22] J0 commented on #63
@juwiragiye yeah additional tutorials are always appreciated!

[2022-04-11 10:26] tobias-scheepers opened #185 "RLS not working after sign-in"
**Describe the bug**
After signing in a user using ` supabase-py` a user is correctly returned with it's acces_token etc. However if I try to insert or select a row in a table with RLS enabled it seems the client does not correctly send the requests as being authenticated by that user. Only the tables without RLS seem to be working. The error returned by supabase is:

[code]

Is this currently not

[2022-04-12 08:12] starryworldmusic opened #187 "Cannot do Insertion of Data and Update of Data"
I find out there are some problem in the usage in https://github.com/supabase-community/supabase-py

I can do Selection of Data.
But cannot do Insertion of Data and Update of Data.
I am using Streamlit to create a web app and connect it to supabase.

[2022-04-12 11:13] #187 closed

[2022-04-12 13:53] anand2312 commented on #185
Hi, using the signed-in user's bearer token has not yet been implemented. I am planning on getting to this soon-ish.

[2022-04-14 15:21] tobias-scheepers commented on #185
Thanks @anand2312 this clears things up indeed. The workaround works flawlessly in the mean time!

[2022-04-17 08:23] KineticFox opened #191 "Unorderd Table Items"
**Describe the bug**
If u get Data from a table with ```client.select('*').execute()``` the returned data is not in order. The table items are not in the same order as they are in the table.
For  example in the JS Framework the returned items from .select() are in the same order as in the table.

**To Reproduce**
Steps to reproduce the behavior:
1. create table with few items
2. on the client side

[2022-04-18 12:54] anand2312 commented on #191
Personally, I don't believe it is the responsibility of the library to order results in any way, when you haven't mentioned any specific order to sort by (`select().order('column', desc=True).execute()` for example)

[2022-04-18 17:40] KineticFox commented on #191
I understand, so i'm just spoiled by the official JS framework.

[2022-04-18 20:24] Sharaddition opened #192 "Can't query float values"
On querying database with gte, lte, gt, lt for float or np.float32 values. It's throwing Api error.

Error message-

The field I tried querying are float4 and float8 data types.

**Additional context**
On querying ID with numeric data type all functions work perfectly fine.

[2022-04-19 03:58] anand2312 commented on #191
Even if the js client does it I wouldn't rely on that ordering :p That should be considered an implementation detail that is not guaranteed to be changed in the future
I hope that answers your question!

[2022-04-19 03:58] #191 closed

[2022-04-19 05:32] anand2312 commented on #192
I'm not able to reproduce this, what version of supabase-py and postgrest-py is being used here? If the version of postgrest-py is less than 0.10.1, I'd recommend you try upgrading that to latest and try again.

To see what version is being used you can run `pip show postgrest-py`

[2022-04-19 17:45] Sharaddition commented on #192
I tried upgrading the `postgrest-py` still the problem persists.

My code-
`supabase: Client = create_client(supaURL, supaKEY)`
`supaTable = supabase.table("DemoTable").select("*").eq("price",4.60795).execute().data`

Table-
![table](https://user-images.githubusercontent.com/90986869/164063511-7c240f5b-9f46-4280-b687-79671cb07cbd.jpg)

Error log-

data
  You are passing an API error to the data fi

[2022-04-21 04:50] anand2312 commented on #192
Again, can you tell what versions of supabase-py and postgrest-py are being used here? I cannot reproduce this but that might be because I am running the version that's on the master branch and the issue exists in an older version

[2022-04-21 17:37] Sharaddition commented on #192
Hey @anand2312 these are the versions-

Version: 0.5.3

Version: 0.10.2

[2022-04-22 03:30] TiannV opened #195 "JWSError JWSInvalidSignature"
**Describe the bug**
Follow https://github.com/supabase-community/supabase-py, I can run sign_in, but select failed。

![image](https://user-images.githubusercontent.com/36880544/164590536-3c26e7e5-4f32-4091-8ab8-4613ed865cfe.png)
![image](https://user-images.githubusercontent.com/36880544/164590559-d8d6d02a-34a6-469f-8304-92a51ff2b4fe.png)

sign_up.py:
[code]

query.py:
[code]

[2022-04-22 05:23] anand2312 commented on #192
That's odd. This bug is known to be fixed in postgrest-py 0.10.1; and postgrest-py 0.10.2 is _incompatible_ with supabase-py 0.5.3 (it would raise import errors)
This makes me think you're somehow using the wrong Python. Maybe you have installed the libraries to a venv, but are running the files using the global Python installation, or something like that.

What happens if you just run
[code]

[2022-04-22 06:05] wanghaisheng opened #196 "text filed eq filter not working"
**Describe the bug**
A clear and concise description of what the bug is.
before insert  i want to check whether this text filed uid is exist, but even insert before,filter query give me []

**To Reproduce**
Steps to reproduce the behavior:
Successfully installed gotrue-0.5.0 postgrest-py-0.9.2 supabase-0.5.3
python 3.8.5
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Ex

[2022-04-22 06:13] wanghaisheng commented on #196
![firefox_SK8GfcyHh6](https://user-images.githubusercontent.com/2363295/164614362-cc33b457-d734-4bbb-947d-5390c1c0da1e.png)

[2022-04-22 06:35] anand2312 commented on #196
Can you explain what the issue is? I don't quite understand

[2022-04-22 06:44] anand2312 commented on #195
I doubt this is an issue with the library. This is most likely an issue with your auth key, recheck and make sure you are using the right one. Refer https://github.com/PostgREST/postgrest/issues/977

[2022-04-22 06:44] #195 closed

[2022-04-22 08:40] wanghaisheng commented on #196
i  dont want duplicate insert  ,i use uid as a check condition ,as you can see in the picture, we insert it fourth.
the problem came from here, every insert i manually query whether this uid exists,but constantly  i get a  [] even if i can browse this item in supabase portal

                    data = supabase_db.table("tiktoka_douyin_users").select('uid').eq("uid",uid).execute()

[2022-04-22 09:12] anand2312 commented on #196
Why not just apply a constraint at the database level (a UNIQUE constraint on the uid column) instead of manually checking for existence?

[2022-04-22 09:20] wanghaisheng commented on #196
i get it

the weired thing is select and filter thing does not work

[2022-04-22 10:47] anand2312 commented on #196
Odd, I cannot reproduce this (selects and eq works as expected) which makes me think perhaps the values you are passing to the filters are incorrect.
Can you enable debug logging and show the HTTP requests that are being sent? https://postgrest-py.readthedocs.io/en/latest/examples/logging.html

[2022-04-22 10:49] anand2312 commented on #196
I also think you are on an old version of postgrest-py/supabase-py, subscripting on the result (i.e `supabase_db.table("tiktoka_douyin_users").select('uid').execute()[0]`) would error on postgrest-py now, as the `.execute()` method returns a pydantic model, not a list or dict that can be subscripted.

[2022-04-22 11:31] wanghaisheng commented on #196
yes  after re uninstall postgrest-py  and  supabase ,install twice ,it works for now

[2022-04-22 11:31] #196 closed

[2022-04-22 12:17] anand2312 commented on #175
Hi, apologies for the late response.
What exactly do you mean? Once that query is run, `data` will be an instance of [`APIResponse`](https://postgrest-py.readthedocs.io/en/latest/api/responses.html#postgrest.APIResponse), and you can access the data returned with `data.data`

[2022-04-22 12:21] anand2312 commented on #162
Hi, apologies for the late response.

Note that when you chain multiple filters as you have done in your example, the effect is that they are joined with an AND, i.e `col1 = value1 AND col2 <= value2 ...`. Are you sure that data which matches all of those filters exist?

If so, can you upgrade to the latest version of supabase-py and see if the error persists?

[2022-04-22 12:22] anand2312 commented on #162
PS: in the newer versions, the query response isn't subscriptable as the `.execute()` method returns an instance of [`APIResponse`](https://postgrest-py.readthedocs.io/en/latest/api/responses.html#postgrest.APIResponse), so you'd do
[code]

[2022-04-22 12:27] anand2312 commented on #106
Apologies for the late response; does the bug still exist? I'm around 90% sure it should be fixed in newer versions of the library, but I haven't tried reproducing this in a CI environment yet.

[2022-04-24 19:46] LumixximuL commented on #106
I'll update to the latest version of the library and give it another try and report back.

[2022-04-25 04:50] anand2312 commented on #106
Thank you so much!

Just seeing the traceback, I can guess what caused it: in the past, `postgrest-py` only supported async requests, so here at supabase-py we monkey-patched it to use the `requests` library to provide sync support ([Source](https://github.com/supabase-community/supabase-py/blob/6b76a9a2b318891c5c850f200d5077c50706375e/supabase/lib/query_builder.py#L9))
I'm guessing some headers,

[2022-04-25 18:27] Sharaddition commented on #192
These are the versions-

0.9.2

When I try to upgrade the postgrest_py to 0.10.1
`supabase 0.5.3 requires postgrest-py<0.10.0,>=0.9.1, but you have postgrest-py 0.10.1 which is incompatible.`

[2022-04-26 04:48] anand2312 commented on #192
Ah, looks like we can't do much about it then. A new release of supabase-py will be made sometime soon with these dependencies upgraded, so your best bet would be to wait for that now.
If you are only using the database features, you could just not use supabase-py and directly use postgrest-py as well.

[2022-04-28 04:21] J0 commented on #62
Resolved in https://docs.streamlit.io/knowledge-base/tutorials/databases/supabase

[2022-04-28 04:21] #62 closed

[2022-05-01 11:54] anand2312 commented on #192
Fixed in release 0.5.5

[2022-05-01 11:54] #192 closed

[2022-05-02 19:06] Vidski opened #203 "sanitize_param() not correctly resolving when using nested columns"
**Describe the bug**
When filtering for a nested column, sanitize_param is adding unneccessary " "

**To Reproduce**
`supabase.table('character_inventory').select('character(*), slot, item(*, template(*))').eq('**character.user_id**', user_id).execute()`

resolves to:
`/rest/v1/character_inventory?select=character(*),+slot,+item(*,+template(*))&**"character.user_id"**=eq.2731f9cc-17f4-42a2-839a-d2

[2022-05-02 19:13] Vidski commented on #203
![image](https://user-images.githubusercontent.com/36316706/166310268-e5cc72ef-a7f9-4f2c-85fb-c9e29fd92817.png)

[2022-05-02 19:51] Vidski commented on #203
Is there a reason to sanitize the column at all? In the postgrest-js client all we do is remove whitespaces.

[2022-05-03 07:11] anand2312 commented on #203
Column names can contain postgrest special characters which need to be escaped, The js client errors out because of this; see supabase/postgrest-js#262

Are you sure you are on the latest version though? The code in that screenshot doesn't look like it is from the latest version

[2022-05-03 08:00] Vidski commented on #203
I'm fine with escaping ',:()', but escaping '.' results in a wrong behaviour which makes it impossible to filter on foreign columns.

eq('table_a.table_b.id', my_id) will currently resolve to "table_a.table_b.id", but should resolve to "table_a"."table_b"."id".
Maybe we should first split the column by '.', escape each item, and join using '.'.

This is using supabase-py 0.5.5 and postgrest-py 0.1

[2022-05-03 15:25] anand2312 commented on #203
Yeah I get what you mean 👍🏼 this'll be fixed in the next release. Thanks for the report!

[2022-05-05 12:44] mohnish7 commented on #162
Hey @anand2312 - sorry for the late reply! I did try this just now:

`supabase_client.table("carrier_bill_data").select("*").eq(col1, val1).eq(col2, val2).neq(col3, val3).execute()`

I'm trying to find values that match condition 1 and condition 2 but not condition 3. It seems to be working with the 2 `eq` clauses, but when I add the `neq` clause, it does not return any data despite there being da

[2022-05-07 06:26] bgould132 commented on #171
Insert appears to work with list[dict] now, so this issue can probably be closed.

[2022-05-07 06:38] bgould132 opened #205 ".in filter returns invalid syntax"
**Describe the bug**
I'm getting a "SyntaxError: invalid syntax" response when trying to use .delete().in()

**To Reproduce**
Steps to reproduce the behavior:
Run something along the lines of data = supabase.table("table").delete().in("col_name", [x, y, z]).execute()

**Expected behavior**
Rows of data where "col_name" is equal to x, y, or z would be selected (and in this case, deleted from the ta

[2022-05-07 07:19] anand2312 commented on #171
Hah thanks for testing that out @bgould132 . Didn't know it worked as such 😄 there should probably still be a separate insert_many method though, as PostgREST has some separate handling for it, so we'll keep this open till we implement that.

[2022-05-07 07:21] anand2312 commented on #205
`in` is a Python keyword, so the method is named [`in_`](https://github.com/supabase-community/postgrest-py/blob/36b732893710d3c5440a889d3027feb5a0ef2ad2/postgrest/base_request_builder.py#L288)

[2022-05-07 07:21] #205 closed

[2022-05-10 07:41] anand2312 commented on #162
Hmm, that's very odd. I am not able to reproduce this.
Quickly tried this:
![image](https://user-images.githubusercontent.com/40204976/167575203-037ff89d-f32f-4e0b-9aa3-e8906cf0e32d.png)

Queried similar to what you have shown:
[code]

[2022-05-10 07:44] anand2312 commented on #162
Also if possible, enable debug logging as described here https://postgrest-py.readthedocs.io/en/latest/examples/logging.html and send that output as well (after removing your API URL)
Sorry I'm not able to get back to your questions fast enough 😅

[2022-05-14 17:26] anand2312 commented on #38
Duplicate of #20

[2022-05-14 17:26] #38 closed

[2022-05-14 17:30] anand2312 commented on #78
Closing as the issue seems to be fixed. Feel free to re-open if this is not the case.

[2022-05-14 17:30] #78 closed

[2022-05-14 17:33] anand2312 commented on #175
Closing due to lack of activity. Feel free to re-open if the issue persists.

[2022-05-14 17:33] #175 closed

[2022-05-14 17:36] anand2312 commented on #119
This has been fixed in the later versions. The problematic import was removed.

[2022-05-14 17:36] #119 closed

[2022-05-14 17:37] anand2312 commented on #106
Closing due to a lack of activity. I believe this should be fixed in the newer versions but if the issue persists, feel free to reopen.

[2022-05-14 17:37] #106 closed

[2022-05-15 15:55] J0 opened #207 "End to End Integration Tests"
**Is your feature request related to a problem? Please describe.**

As part of an ongoing effort to get an overview of where the different client libraries are at(with respect to js client) the Supabase QA team(@egor-romanov) has kindly set up [a set of integration tests](https://github.com/supabase/infrastructure/tree/feature/verification-tests/tests)

I'm setting up this issue to keep track of w

[2022-05-17 10:45] mr-bjerre opened #210 "How do I join tables"
Is it currently possible to join multiple tables when reading from the database?

[2022-05-17 10:50] mr-bjerre opened #211 "`.table` and `.from_` return type is wrong"
The return type for `Client.table` and `Client.from_` is forced to `SupabaseQueryBuilder`. It should be removed and then the return type will be inferred to `RequestBuilder`.

[2022-05-17 10:59] mr-bjerre commented on #211
I just realized that poetry installed 0.2.0 instead of 0.5.6. Looking in the source code it seems this is no longer an issue.

But how come it's not possible to install 0.5.6 with poetry?

[code]

I'm on python 3.9

[2022-05-17 11:00] dreinon commented on #211
Supabase-py changed the package name to supabase, try poetry add supabase==0.5.6

[2022-05-17 11:00] mr-bjerre commented on #211
[code]
instead of
[code]

[2022-05-17 11:00] #211 closed

[2022-05-17 17:03] anand2312 commented on #210
What kind of join are you imagining? You can get related data together, similar to how it is shown in the [JS client](https://supabase.com/docs/reference/javascript/select#query-foreign-tables)

[code]

[2022-05-17 17:12] #210 closed

[2022-05-22 23:03] wanghaisheng opened #212 "can you update these dependency"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-22 23:05] dreinon commented on #212
The pypi package is called `supabase` instead of `supabase-py`, try installing the first.

De: ***@***.***>
Enviado: lunes, 23 de mayo de 2022 1:04
Para: ***@***.***>
CC: ***@***.***>
Asunto: [supabase-community/supabase-py] can you update these dependency (Issue #212)

Describe the bug
A clear and concise description of what the bug is.

To Reproduce
Steps to reproduce the behavior:

  1.  Go to

[2022-05-22 23:07] dreinon commented on #212
The pypi package is called `supabase` instead of `supabase-py`, try installing the first.

[2022-05-22 23:07] #212 closed

[2022-06-02 05:49] Morioki opened #217 "Client does not use alternative schema when provided"
**Describe the bug**
Client does not pass schema to the initialization of the SyncPostgresClient object. This causes any call to the database to assume that the default public database is used instead of the provided schema.

**To Reproduce**
1. Create a table in an alternate schema, where a table does not exist with the same name in the public schema.
2. Create a client object using the create_cl

[2022-06-02 13:02] anand2312 commented on #217
Thanks for the report. Would you like to make a bug-fix PR? I'd be happy to review and merge

[2022-06-06 16:43] #217 closed

[2022-06-21 05:37] tbrains opened #225 "Setting timeout for postgrest-py client"
postgrest-py accepts a timeout parameter from [v0.8.0](https://github.com/supabase-community/postgrest-py/commit/1ea965a6cb32dacb5f41cd1198f8a970a24731b6)

We don't have an option to set this from supabase-py. So, if the queries run longer than 5s it throws an exception.

[2022-07-01 23:51] Akiren opened #230 "filters do not work when your field name is "apikey""
If your table has a field called "apikey" queries will always be truthy regardless of if they really are

data = supabase.table('users').select('email, api_key').eq('api_key', 'fakekey').execute().dict()

data will always return data... Found the javascript issue after 2.5 hours of questioning the nature of reality.

This bug existed and was fixed in the javascript version of supabase
https://gith

[2022-07-02 00:21] dreinon commented on #230
Hi! Thanks for creating the issue. As far as I can read, rhis issue wasn't solved, but only documented. They solution the supabase team gives is to name that column with a prefix `user_apikey`.

[2022-07-02 01:51] anand2312 commented on #230
I'll mark this issue as a wontfix until it's solved upstream

[2022-07-27 13:52] pehzet opened #243 "Error at Table functions- httpx.ConnectError: [Errno 11001] getaddrinfo failed"
Hey,

I just started using supabase with the aim to store some experiment data in the db.  When I try to execute any kind of supabase.table-functions I get the httpx error "httpx.ConnectError: [Errno 11001] getaddrinfo failed" (see below).
The table exists, and it got some manually added dummy data.

**My stats:**
python 3.7.7 (but also in 3.10.4) Win10 x64
supabase 0.5.8

**The Code:**

[code]

*

[2022-07-28 17:02] anand2312 commented on #243
This doesn't seem to be an issue with supabase-py itself, are you sure you're passing in the right project URL and api key?
Stackoverflow also seems to suggest it could be an issue with some network proxy settings 🤔

[2022-07-29 12:33] #243 closed

[2022-07-29 12:35] pehzet commented on #243
It was a mistake on my side... Sorry for that. I closed the issue.
It works fine now. :)

[2022-08-02 07:25] tobias-scheepers opened #247 "Authentification headers when using storage client"
Currently (`v0.5.8`) it seems when uploading a file to an bucket there are no authentication credentials passed along from the main supabase client. As such I've only gotten uploading to a public bucket (and setting the storage.object table to non RLS) to work. Is there any way to upload a file to a private bucket that is currently supported by supabase-py?

[2022-08-02 13:26] anand2312 commented on #247
We haven't yet written the code to automatically set the auth credentials on the sub-clients
For now you could manually set them with something like
[code]

[2022-08-02 13:28] anand2312 commented on #247
(If I'm remembering right, you'd opened a similar issue with postgrest where I'd said I was working on it 😅 sadly I've gotten a bit busy since then and that hasn't been pushed upstream yet either)

[2022-08-02 21:41] Pixeled99 opened #249 "Is this repo compatible with async?"
I have been trying to use supabase in my async python code. I've found 1 small library that hasn't been updated in a year and is also giving me problems. So I was wondering if there was any async support for this library. If there isn't I think it would be a great addition. As I pretty desperately need a way to interact with supabase in async code. Also if it's not supported does anyone know any a

[2022-08-02 22:57] #249 closed

[2022-08-02 22:59] Pixeled99 opened #250 "Async Support"
**Is your feature request related to a problem? Please describe.**
There are a good amount of python libraries that require async to use. for me it's mostly discord.py. so giving async support would open many new opportunities for this library.

**Describe the solution you'd like**
an async client

**Describe alternatives you've considered**
not using a wrapper or making your own custom one

**Add

[2022-08-03 00:36] anand2312 commented on #250
What specific features of supabase do you need to use? We already have async support on auth, database access and storage; we just haven't yet written an async client _here_.
So for example if you only wanted to use the database, you could directly use [postgrest-py](https://github.com/supabase-community/postgrest-py) which already has sync/async support.

[2022-08-04 20:31] APACOWL opened #253 "AttributeError: module 'supabase' has no attribute 'table'"
0

[2022-08-04 20:31] APACOWL commented on #253
python3.7

[2022-08-04 20:33] APACOWL commented on #253
I'm trying to get inside my db -> insert a payload that is within a function into a superbase table but that error pops up

[2022-08-04 20:56] #253 closed

[2022-08-06 15:44] tobias-scheepers commented on #247
Hi @anand2312, thanks again for the quick help! Indeed that was me. I could not for the life of me find the old comment on postgrest. However, same solution goes here and this will work perfectly fine! Thanks again for all the amazing work on these tools!

[2022-08-06 15:44] #247 closed

[2022-08-11 08:15] akhefale opened #256 "Unable to import supabase"
**Describe the bug**
Trying to import supabase, or modules from the supabase package, results in the following error:

`ImportError: cannot import name 'create_client' from partially initialized module 'supabase' (most likely due to a circular import) (/home/user/supabase.py)`

**To Reproduce**
Steps to reproduce the behavior:
1. Install supabase using pip: `pip install supabase`
2. Import `create

[2022-08-11 08:19] akhefale commented on #256
Well, I seem to be an idiot. I renamed my script, called supabase.py, and everything is working flawlessly. Closing this.

[2022-08-11 08:19] #256 closed

[2022-08-27 15:19] justinbarak opened #261 "Extra / in storage get_public_url() method"
**Describe the bug**
There is an extra forward slash returned in the get_public_url method.

**To Reproduce**
Steps to reproduce the behavior:
1. Instantiate SupabaseStorageClient
2. Use client.from_({bucket}).get_public_url({filename})
3. Result is 'https://{database}.supabase.co/storage/v1//object/public/{bucket}/{filename}'

**Expected behavior**
'https://{database}.supabase.co/storage/v1/objec

[2022-08-28 17:17] ZetiMente commented on #261
Can you use this package for Supabase storage ?

[2022-08-28 18:20] justinbarak commented on #261
I think that's how you're supposed to access it via python. It builds off of [another package](https://pypi.org/project/storage3/), which specifically recommends using this 'master' package to interact with the storage api.

[2022-08-30 19:05] kaylynnnn opened #264 "Error when selecting from DB"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Request for data on a table.
2. Attempt to access data like `response.data[0]['content']`
3. See error:
[code]
4. The data is obtained but this error still happens for some reason.

**Expected behavior**
Should just get `content` with no problem.

**Screenshots**
![image](

[2022-09-01 12:28] liang799 opened #266 "Fiiltering through join values"
I have a question similar to [this](https://github.com/supabase/supabase/discussions/3155)

I was wondering if my following code is wrong, or it is not possible atm
[code]

Error message
[code]

_Originally posted by @liang799 in https://github.com/supabase-community/supabase-py/discussions/263_

[2022-09-03 02:53] anand2312 commented on #261
Would you like to open a bug-fix PR? You'd just need to remove the `/` before `object` on [this line](https://github.com/supabase-community/storage-py/blob/6ca09e7b4cff12112599e2a1ea714f6f5f6af453/storage3/_async/file_api.py#L75) I think. (It looks like `base_url` has a trailing `\`, looking at the implementation of `create_signed_url` above this method).

[2022-09-07 17:02] justinbarak commented on #261
Done! Feel free to review and approve. Thanks for finding the line in issue!!

[2022-09-15 18:42] justinbarak commented on #261
@anand2312 Can you review and approve?

[2022-09-16 21:56] dsnopek opened #272 "Incorrect authorization on supabase.postgrest"
After doing:

[code]

... requests for data are still anonymous, rather than authenticated.

For example:

[code]

... will apply the RLS policy with `auth.uid()` returning `NULL`.

Inspecting the headers sent, it looks like the 'Authorization' header contains "Bearer" plus my anon key, rather than the JWT access token from authenticating.

If I add this bit of code after `supabase.auth.sign_in()`

[2022-09-20 06:17] BurnySc2 commented on #250
A minimal working Async Supabase-Client to run queries on the database with proper type hints could look like this:

[code]

Of course this needs to be adapted accordingly if `supabase-py` or `postgrest-py` change/update.

With async working, should subscriptions also be working inside the client? @anand2312

[2022-09-23 09:09] yuchdev opened #276 "How to perform Full-text Search?"
You see, I tried to execute `select().textSearch()`, which is [provided](https://supabase.com/docs/guides/database/full-text-search) by JS API, but it sems to not ported to the PythonAPI

Executing the same request as a raw SQL query to Postgres would've solved the problem, but I didn't find it either.
Could you give some guidance, on how such a functionality could be performed through your API?
S

[2022-09-23 18:20] justinbarak commented on #261
Any way to get this pull request integrated? It is the most minor of corrections and won't cause issues.

[2022-09-26 02:13] justinbarak opened #278 "Storage Errors require Double Catching"
**Describe the bug**
Instead of being able to a normal try/except to catch an error, I need to double try/except to catch the error.

**To Reproduce**
Steps to reproduce the behavior:
1. sto = supaClient.storage()
2. sto.from_(bucket).upload(f"{folder}/{excel_name}", excel_file_path)
3. Repeat 1
4. Get uncatchable (for a single try/except block) error

**Expected behavior**
Exception would be caug

[2022-09-26 02:36] justinbarak commented on #278
It looks like I can just precede every upload with `sto.from_(bucket).remove([f"{folder}/{excel_name}"])`. That at least will not raise an error if the document doesn't exist.

[2022-09-27 23:50] cmarshalldev opened #280 "Error when running this code"
When i run this code i get an error

[code]

here's the error message

[code]

[2022-10-02 10:20] anand2312 commented on #276
All questions welcome, don't worry!

The full text search method is named [`.fts`](https://postgrest-py.readthedocs.io/en/latest/api/filters.html#postgrest.AsyncFilterRequestBuilder.fts); you'd use it like `select().fts()`

Perhaps we should add an alias (`.text_search`) to match the JS API.

[2022-10-02 10:24] anand2312 commented on #272
Duplicate of #185
I've gotten a bit busy since the original issue was made, so I cannot make any promises on when this will be implemented by me. Anyone is free to try implementing this, I'd be happy to review any PRs

[2022-10-02 10:25] anand2312 commented on #264
Apologies for the late response

Can you post the code as well please?

[2022-10-02 10:29] anand2312 commented on #278
Hmm that is odd. Would you like to try fixing this by updating the dependency as you suggest?
Just clone the repo, modify the pyproject,toml to the new version/run `poetry update` and commit the updated files @justinbarak

[2022-10-05 05:19] chitalian commented on #20
This still seems to be an issue. The README still show `on` as a function however it is disabled in the API itself

[2022-10-07 07:41] #225 closed

[2022-10-07 07:54] J0 commented on #280
Hey @cmarshalldev

Thanks for the query and apologies for the delay. For security reasons, passwords need to be longer than 6 characters -- do try again with a longer password and let us know if you're facing any other issues!

Joel

[2022-10-07 08:35] #280 closed

[2022-10-07 08:38] J0 commented on #20
Hey @chitalian,

Do you mind pointing me to the relevant section of the README?Can't seem to find it in Supabase-py

[2022-10-08 09:45] TheMG95 opened #285 "How can I confirm Email Addresses"

[2022-10-08 09:46] TheMG95 commented on #285
Accidentally clicked enter sorry,
Well i was gonna ask how can i use the email account verification?

[2022-10-10 02:07] J0 commented on #285
No worries, could you provide more details on what sort of workflow you're hoping to use with email account verification? Are you perhaps looking to implement magic link sign in or similar?

One way to enforce email verification would be t call `supabase.auth.signup()` and then ensure you have correctly configured the settings under Authentication > Settings > Email  and click Enable Email confirm

[2022-10-10 06:39] J0 commented on #80
Hey!

This is actually intended behaviour -- you can distinguish between signed-up and sign-ed in by checking the audit log (SignUpEvent vs login Event) or by checking if the given user is confirmed(without autoconfirm a signed up user would not be confirmed at time of clicking on the link whereas a user who is signing in would be confirmed.

Going to close this for now but please let us know if y

[2022-10-10 06:39] #80 closed

[2022-10-10 15:02] anand2312 commented on #261
Merged the PR, this will be updated here in the next version. Thanks for your contribution!

[2022-10-10 15:02] #261 closed

[2022-10-10 17:13] TheMG95 commented on #285
Sorry for not being clear. I wanted to ask, how can I confirm email addresses? When i do supabase.auth.signup() the email sent has a localhost link and a key. Do i have to handle that in my server? If so, how can i do that?

[2022-10-10 17:38] TheMG95 commented on #285
Also how can i use the hcaptcha protection?
![image](https://user-images.githubusercontent.com/66237187/194923650-f88f3f78-7512-4ca6-b1b9-681fa2b24c7e.png)

[2022-10-11 06:03] J0 commented on #285
When you click on the link sent to your email a request is sent to Supabase Auth to verify the token in the link. The user is then marked as confirmed and redirected to your site .

For HCaptcha, you can take a look at [this guide](https://supabase.com/docs/guides/auth/auth-captcha) and we will also have video tutorials coming soon.

Hope this helps and let us know if you have further questions

[2022-10-11 17:16] TheMG95 commented on #285
Thanks a lot!

[2022-10-11 17:17] #285 closed

[2022-10-12 10:33] cadnce commented on #278
Looks like i cannot reproduce this anymore, I think it was probably fixed as part of ec94092189d0309fa4f1a7cfb6015ddacc1601c5

👍

[2022-10-12 11:46] justinbarak commented on #278
I think you're right. I see the httpx package version updated in the poetry.toml. Closed.

[2022-10-12 11:46] #278 closed

[2022-10-15 13:07] TheMG95 opened #288 "How can i add data to user on creation?"
I want to add some data to users on sign up like a username. How can i do this?

[2022-10-18 08:25] timreibe commented on #185
+1, coming from #272

[2022-10-20 22:29] ZetiMente opened #291 "Unable to Delete a User"
Maybe I have the syntax wrong, unable to find documentation. But how do you delete a user?

In Supabase-js, the command is

[code]

**Describe the bug**
Unable to delete a user

**To Reproduce**
run` supabase.auth.deleteUser(user_id)`

**Expected behavior**
Be able to delete a user

[2022-10-21 05:59] anand2312 commented on #185
@timreibe 👍🏼 done. Perhaps this issue should be pinned for better visibilty

[2022-10-21 06:02] anand2312 commented on #291
Looks like the corresponding method exists: https://github.com/supabase-community/gotrue-py/blob/dbe13b7355b6767f4412e74be283f2abe8277091/gotrue/_async/api.py#L532

So it'd be called like
[code]

[2022-10-21 09:32] #102 closed

[2022-10-23 15:35] ak4zh opened #293 "httpx.ReadTimeout: The read operation timed out"
**Describe the bug**
I have 375000 items in my table.
I am doing a loop to obtain all id of all items, with API limit set to 20000 items per api call.
After 200000 I always start to get `httpx.ReadTimeout: The read operation timed out` sometime it may reach 240000 but never go ahead.
- I have tried to have different wait time after each loop.
- I have tried to change api limit to 10000 as well as

[2022-10-23 20:40] rawandahmad698 commented on #293
httpx by default uses `timeout=None` so there's no timeout for how long a request takes, and since this is looping, does supabase drop your connection request? Nonetheless this is interesting, would love to fix it though

[2022-10-24 05:35] ak4zh commented on #293
@rawandahmad698 As mentioned above I have tried with less items per call as well as more items. I have tried many combinations from 5000 per api call to 50000 per api call.

I have also tried different variations of wait time between loops from 0.10 seconds to 3 seconds wait time between each loop.

[2022-10-24 05:51] ak4zh commented on #293
I noticed something interesting.
If I use `id` to paginate it works better without timeout.
The timeout issue only occurs with range feature.

This query worked in first go without any timeout

[code]

[2022-10-24 20:24] rawandahmad698 commented on #293
I'm also running some tests with the range filter, thanks for opening this issue.

[2022-11-01 05:49] J0 commented on #288
Hey,

Thanks for your patience - you can add data via using the [`data` param](https://github.com/supabase-community/gotrue-py/blob/main/gotrue/_async/client.py#L98) on `sign_up` which will add metadata to the field.

We're putting together some docs so hopefully this should be clearer soon.

[2022-11-01 12:30] #288 closed

[2022-11-02 07:59] nick-gorman opened #300 "Attempting to get a table of data using rpc in python fails"
**Describe the bug**
Attempting to get a table of data using rpc in python fails

**To Reproduce**
1. Create a simple database function like below:
[code]

2. Call function in python
[code]

**Expected behavior**
Should return data.

**Screenshots**
Calling the function works via the supabase sql editor

![image](https://user-images.githubusercontent.com/40549624/199431271-72864fba-ab30-47f8-bb22-

[2022-11-03 00:37] nick-gorman commented on #300
Found the problem, row level security was preventing data from being returned, adding an access policy solved the issue.

[2022-11-03 00:37] #300 closed

[2022-11-04 21:10] J0 commented on #63
Closing this PR as it seems stale. I plan on recording a FastAPI video tutorial tomorrow which should hopefully address some common questions.

[2022-11-04 21:10] #63 closed

[2022-11-05 22:17] TBTech205 opened #303 "Logging"
Hey all,

I am just wondering is anyone knows what this issue is. after getting every all setup and then I ran the code and I saw this (see the image bellow).

is there a way to turn this off. not sure where this is coming from

pls help

![image](https://user-images.githubusercontent.com/48381745/200143343-6be78d46-df3f-4785-ae1c-ab12f657dbc3.png)

Edit: I forgot to mention that this didn't happe

[2022-11-12 00:49] stuartcw opened #304 "Broken link on README.MD"
**Describe the bug**

The link at the bottom of README.md to https://supabase.com/visualizing-supabase-data-using-metabase is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the link to Visualizing Supabase using Metabase.

[2022-11-12 02:30] anand2312 commented on #303
Those logs look related to the Discord gateway and not supabase

[2022-11-12 02:33] anand2312 commented on #304
That's odd, maybe @J0 will know what's up

[2022-11-12 22:09] TBTech205 commented on #303
this issue wasn't happening before installing supabase

[2022-11-12 22:14] TBTech205 commented on #303
config file
![image](https://user-images.githubusercontent.com/48381745/201496545-86db3b4d-9b24-4782-a527-b9fdeff48e66.png)

then i import this then run the bot this (image below) is there
![image](https://user-images.githubusercontent.com/48381745/201496609-af42b0ff-fdc2-49a4-a02a-43ccb6df2440.png)

[2022-11-17 15:17] anoninthekop opened #305 "eq adding Filters.EQ istead of eq"
**Describe the bug**
On python 3.11 using eq is adding column_name=Filters.EQ to the query string instead of column_name=eq causing the error postgrest.exceptions.APIError: {'code': 'PGRST104', 'details': 'Failed to parse [("column_name","Filters.EQ.1")]', 'hint': None, 'message':
 'Unexpected param or filter missing operator'}

**To Reproduce**
Steps to reproduce the behavior:
1. supabase.table("

[2022-11-17 20:40] johndpope opened #306 "clarification on setting session using token"
related
https://github.com/supabase-community/supabase-swift/issues/49

[2022-11-19 21:45] luquitared commented on #306
there is an AuthClient class that has a method called get_client_with_access_token() but like you I am not sure how to instantiate this and use it. This repo would benefit greatly with an example of setting the session using the token in the readme or the fastAPI example folder.

+1 on this!!

[2022-11-19 22:37] tcrch commented on #305
is there anyway around this?

[2022-11-20 01:14] johndpope commented on #306
related - https://github.com/supabase-community/supabase-swift/issues/4
you may be able to cherry pick swift example

[2022-11-22 07:19] ximo1984 commented on #293
I increase timeout to fix it:

`
from supabase import create_client, Client
from supabase.lib.client_options import ClientOptions

supabase_url = os.environ.get('SUPABASE_URL')
supabase_key = os.environ.get('SUPABASE_KEY')

client_options = ClientOptions()
client_options.timeout = 60
supabase: Client = create_client(supabase_url, supabase_key, options=client_options)`

Maybe it could help you.

[2022-11-25 20:33] wellsilver commented on #304
I fixed it in my pr #309 along with other things

[2022-11-27 19:46] J0 commented on #304
Sorry - just seeing this - there was a recent migration on the frontend so a bunch of the links are broken - I've gone ahead and merged the PR. Thanks for flagging this!

[2022-11-27 19:46] #304 closed

[2022-11-29 19:17] SinaKhalili commented on #305
Was struggling with this as well.
Since this is from a dependency, [postgrest-py](https://github.com/supabase-community/postgrest-py), I would say probably nothing you can do, at least nothing as easy as just downgrading to 3.10.
I've opened an [issue](https://github.com/supabase-community/postgrest-py/issues/169) there, so once that fix gets made I assume it'll be updated here as well.

[2022-11-30 20:44] betterthanever2 opened #312 "ValueError: Invalid isoformat string when requesting a Storage bucket"
I'm trying to connect to my Storage instance. When trying to access a bucket via `Storage.get_bucket("bucket_name")` I get a ValueError reporting wrong isoformat.
Full traceback:
[code]

Addition: `_.list_buckets()` command produces a similar result.

Steps to reproduce the behavior:
1. Create connection in the Python console
2. Create Storage object via `connection.Storage()`
3. Request bucket in